<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>bill</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>
    <style>
        label {
            min-width: 100px;
            padding: 10px;
        }

        th,
        td {
            border: 1px solid #000 !important;
            text-align: center;
            letter-spacing: 5px;
            justify-content: center;
        }
    </style>
</head>

<body>
<div class="container p-5">
    <div class="row py-5 my-5">
        <form class="d-flex flex-column justify-content-center my-5 blue2 col-4 p-3">
            <div class="form-group d-flex">
                <label class="text-white">用户id</label>
                <input id="userId"  class="form-control w-50"/>
            </div>
            <button id="cx" type="button" class="btn text-white border border-white d-block px-4"
                    style="margin: 0 auto;">
                查询
            </button>
        </form>
    </div>
</div>

<a href="index.html" th:href="@{/index}" class="back-btn">Back</a>
</body>
<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(function () {

        $("#cx").click(function () {
            var userId = $("#userId").val();
            $.ajax({
                "type": "post",
                "url": "http://localhost:8080/reception/bill",
                "data": {
                    user_id: userId
                },
                success: function (data) {
                    console.log("data",data);

                }
            });

        });

    })
</script>
</html>