<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>login</title>

  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>

  <style>
    form {
      border: 1px solid #7789bb;
      box-shadow: 20px 20px 3px #445da0;
    }

    p {
      letter-spacing: 5px;
    }

    label {
      min-width: 100px;
      padding: 10px;
    }
  </style>
</head>
<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<body>
<div class="container p-5">
  <div class="row my-5 p-3">
    <form class="col m-5 p-3" th:action="@{/userReg}" th:href="@{/userReg}" th:object="${userLogin}" method="post">
      <p class="h3 py-2 m-auto">用户注册</p><br><br>
      <div class="form-group d-flex">
        <label class="d-block">用户id</label>
        <input id="uid" class="form-control" th:field="*{userId}" placeholder="请输入用户id" />
      </div>
      <div class="form-group d-flex">
        <label class="inline-block">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
        <input
                id="pwd"
                type="password"
                class="form-control"
                placeholder="请输入密码"
                th:field="*{password}"
        />
      </div>
      <div class="form-group d-flex">
        <label class="inline-block">初始温度</label>
        <input
                id="wd"
                class="form-control"
                placeholder="请输入初始温度"
                th:field="*{inittemp}"
        />
      </div>
      <input type="submit" value="Submit" text="注册" class="btn blue2 text-white d-block m-auto px-4"/>
      <!--       <button
                    id="register"
                    type="button"
                    class="btn blue1 text-white d-block m-auto px-4"
            >
              注册
            </button> -->
          </form>

          <form class="col m-5 p-3" th:action="@{/userLogin}" th:href="@{/userLogin}" th:object="${userLogin}" method="post">
            <p class="h3 m-auto">用户登录</p><br></br>
            <div class="form-group d-flex">
              <label>用户id</label>
              <input class="form-control" id="userId" th:field="*{userId}" placeholder="请输入用户id" />
            </div>
            <div class="form-group d-flex">
              <label>密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
              <input
                      id="password"
                      type="password"
                      class="form-control"
                      placeholder="请输入密码"
                      th:field="*{password}"
              />
            </div>
            <input type="submit" value="Submit" text="登录" class="btn blue2 text-white d-block m-auto px-4"/>
      <!--      <button-->
<!--              id="login"-->
<!--              type="button"-->
<!--      >

      </button>-->
    </form>
  </div>
</div>
<a href="index.html" th:href="@{/}" class="back-btn">Back</a>
</body>
<!--<script>-->
<!--  $(function () {-->

<!--    $("#login").click(function () {-->
<!--      var userId = $("#userId").val();-->
<!--      var password = $("#password").val();-->
<!--       if(userId==='admin'&&password==='123456')-->
<!--       {location.href="admin.html";}-->
<!--       else {-->
<!--         $.ajax({-->
<!--           "type": "post",-->
<!--           "url": "http://localhost:8080/user/login",-->
<!--           "data": {-->
<!--             userId: userId,-->
<!--             password: password-->
<!--           },-->
<!--           success: function (data) {-->
<!--             if (data.success) {-->
<!--               sessionStorage.setItem('roomid',data.result.roomId);-->
<!--               sessionStorage.setItem('userId',data.result.userId);-->
<!--               sessionStorage.setItem('isAtWork',data.result.isAtWork);-->
<!--               sessionStorage.setItem('curTemp',data.result.curTemp);-->
<!--               sessionStorage.setItem('windSpeed',data.result.windSpeed);-->

<!--               alert("登陆成功");-->
<!--               location.href="user.html"-->
<!--             } else {-->
<!--               if(data.message=='admin'){-->
<!--                 location.href="admin.html"-->
<!--               }else-->
<!--               if(data.message=='manager'){-->
<!--                 location.href="manager.html"-->
<!--               }else {-->
<!--                 alert(data.message);-->
<!--               }-->

<!--             }-->
<!--           }-->
<!--         });-->
<!--       }-->
<!--    });-->
<!--    $("#register").click(function () {-->
<!--      var uid = $("#uid").val();-->
<!--      var pwd = $("#pwd").val();-->
<!--      var wd = $("#wd").val();-->
<!--      $.ajax({-->
<!--        "type":"post",-->
<!--        "url":"http://localhost:8080/user/checkin",-->
<!--        "data":{-->
<!--          userId:uid,-->
<!--          password:pwd,-->
<!--          initTemp:wd-->
<!--        },-->
<!--        success:function (data) {-->
<!--          if(data.success){-->
<!--            alert("注册成功");-->
<!--            window.location.reload();-->
<!--          }else{-->
<!--            alert(data.message);-->
<!--          }-->
<!--        }-->
<!--      });-->
<!--    });-->
<!--  })-->

<!--</script>-->
</html>
